* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}

header {
    position: fixed;
    height: 80px;
    z-index: 1;
}
header .header-content {
    padding: 40px;
}
header .title {
    color: #D32F2F;
    font-size: 24px;
    font-weight: bold;
}
header .title:hover {
    text-decoration: underline;
}
button:focus {
    outline: none;
}

.scroll {
    color: #D32F2F;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border: 1px dashed #D32F2F;
    transform: translateX(-50%);
    background: none;
    padding: 12px;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50%;
    width: 72px;
}

.main {
    padding: 80px;
}
.main h1 {
    margin: 0;
}

.video-section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-section .heading {
    text-align: center;
    font-size: 60px;
    color: #D32F2F;
    line-height: 80px;
    flex: 1;
}
.video-wrapper {
    background: #000;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: -99;
}
.video-wrapper iframe {
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: .7;
}
@media (min-aspect-ratio: 16/9) {
  .video-wrapper {
      height: 300%;
      top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-wrapper {
      width: 316%;
      left: -108%;
  }
}

@media screen and (max-width: 480px) {
    .video-section .heading {
        font-size: 48px;
    }
}
