button {
    font-size: 24px;
    padding: 12px 30px;
    position: relative;
}
.buttonA {
    background: none;
    color: black;
    border: 3px solid black;
    transition: all 0.3s;
}
.buttonA:hover {
    color: white;
}
.buttonA:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: black;
    transition: all 0.3s;
}
.buttonA:hover:before {
    width: 100%;
}

.buttonB {
    background: none;
    color: black;
    border: 3px solid black;
    transition: all 0.3s;
}
.buttonB:hover {
    color: white;
}
.buttonB:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    transition: all 0.3s;
}
.buttonB:hover:before {
    height: 100%;
}

.buttonC {
    background: none;
    overflow: hidden;
    color: black;
    border: 3px solid black;
    transition: all 0.3s;
}
.buttonC:hover {
    color: white;
}
.buttonC:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 0;
    top: 50%;
    left: 50%;
    background-color: black;
    transition: all 0.3s;
    transform: translateX(-50%) translateY(-50%);
}
.buttonC:hover:before {
    width: 102%;
}

.buttonD {
    background-color: #f14444;
    border: none;
    transform: translateX(0);
    overflow: hidden;
    color: white;
}
.buttonD:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 199%;
    width: 243%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #942020;
    transform-origin: 0 -225px;
    transform: rotate(30deg) translateY(18px);
    transition: all .5s;
    right: 0;
}
.buttonD:hover:before {
    transform: rotate(30deg) scaleX(1) translateY(-114px);
    height: 281%;
    width: 250%;
}
