a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    position: relative;
    display: inline-block;
    padding: 10px 8px;
    margin: 10px;
}

.linkA:before {
    content: '';
    width: 0;
    height: 5px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
    background-color: red;
}
.linkA:hover:before {
    width: 100%;
}

.linkB:before {
    content: '';
    width: 0;
    height: 5px;
    position: absolute;
    bottom: 0;
    right:0;
    transition: all 0.3s;
    background-color: red;
}
.linkB:hover:before {
    width: 100%;
}

.linkC:before {
    content: '';
    height: 0;
    width: 5px;
    position: absolute;
    bottom: 0;
    left:0;
    transition: all 0.3s;
    background-color: red;
}
.linkC:after {
    content: '';
    height: 0;
    width: 5px;
    position: absolute;
    top: 0;
    right:0;
    transition: all 0.3s;
    background-color: red;
}
.linkC:hover:before {
    height: 100%;
}
.linkC:hover:after {
    height: 100%;
}

.linkD:before {
    content: '<';
    position: absolute;
    right: 80%;
    font-weight: 900;
    transition: all 0.3s;
    opacity: 0;
}
.linkD:hover:before {
    right: 100%;
    opacity: 1;
}
.linkD:after {
    content: '>';
    position: absolute;
    left: 80%;
    font-weight: 900;
    transition: all 0.3s;
    opacity: 0;
}
.linkD:hover::after {
    left: 100%;
    opacity: 1;
}
