body {
    margin: 0;
    font-family: monospace;
}

header {
    padding: 24px;
    text-align: center;
    background-color: #FAFAFA;
}
h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3em;
}

section {
    padding: 8em 4em;
    text-align: center;
}

#section1 {
    background-color: #B2EBF2;
}
#section2 {
    background-color: #FF8A65;
}
#section3 {
    background-color: #DCE775;
}
#section4 {
    background-color: #E1BEE7;
}

a {
    text-decoration: none;
    color: #212121;
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    padding: 10px 8px;
    margin: 12px;
}

.linkA:before {
    content: '';
    width: 0;
    height: 5px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
    background-color: #212121;
}
.linkA:hover:before {
    width: 100%;
}

.linkB {
    color: white;
}
.linkB:before {
    content: '';
    width: 0;
    height: 5px;
    position: absolute;
    bottom: 0;
    right:0;
    transition: all 0.3s;
    background-color: white;
}
.linkB:hover:before {
    width: 100%;
}

.linkC:before {
    content: '';
    height: 0;
    width: 5px;
    position: absolute;
    bottom: 0;
    left:0;
    transition: all 0.3s;
    background-color: #212121;
}
.linkC:after {
    content: '';
    height: 0;
    width: 5px;
    position: absolute;
    top: 0;
    right:0;
    transition: all 0.3s;
    background-color: #212121;
}
.linkC:hover:before {
    height: 100%;
}
.linkC:hover:after {
    height: 100%;
}

.linkD:before {
    content: '<';
    position: absolute;
    right: 80%;
    font-weight: 900;
    transition: all 0.3s;
    opacity: 0;
}
.linkD:hover:before {
    right: 100%;
    opacity: 1;
}
.linkD:after {
    content: '>';
    position: absolute;
    left: 80%;
    font-weight: 900;
    transition: all 0.3s;
    opacity: 0;
}
.linkD:hover::after {
    left: 100%;
    opacity: 1;
}
